.section_home_economic_indicators {
    background-color: #fff;
    
    h2 {
        margin: 15px 0px;
        font-weight: 700;
        font-size: 18px;
        color: #bd0a13;
    }

    .owl-carousel {
        margin-bottom: 15px;

        .item {
    
            p {
                margin: 0px;
                padding: 0px;
                font-weight: 700;
                font-size: 17px;
                color: #bd0a13;
        
                span {
                    font-weight: 400;
                    font-size: 17px;
                    color: #bd0a13;
                }
            }
        }
    }
}