.section_landing_description_items {
    padding: 60px 0px 0px 0px;
    background-color: #C3C3C3;

    h2 {
        margin: 0px 0px 30px 0px;
        line-height: 80px;
        font-weight: 700;
        font-size: 20px;
        color: #Fff;
    }
}

@include media-breakpoint-down(md) {

}